doctype html 
html 
 head
  title pug intro
 body
  hi hey hii 
  p xs sd 
  P.
   sxs 
   axsx 
   .myclass Abc 
  .myclass abc 
  #key dd
  a go to google
 a(href="https") asxz
  -const items =["A","B","C","D"];
  ul 
   for item in items 
    li=item 
